Source: vc-git-dired
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: emacsen, cdbs, emacs22 | emacs23 | emacs24 | emacs25
Standards-Version: 3.7.2.2

Package: vc-git-dired
Architecture: all
Section: devel
Depends: git
Description: GIT support for the emacs dired mode
